<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Pošli dopis</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="./style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5"></script>
</head>

<body>
<div id="app">
    <section class="hero is-medium is-info is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <figure class="image is-128x128 is-inline-block block">
                    <img src="./stamp.svg" alt="Známka">
                </figure>
                <h1 class="title is-1">
                    Pošli dopis
                </h1>
                <p class="subtitle is-3">
                    Zlepši den nějakému zdravotníkovi
                </p>
            </div>
        </div>
    </section>

    <section class="section is-size-5">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half-fullhd">
                    <p class="block">
                        Sestřičky, záchranáři, i doktoři… všichni už jsou z dlouhého vypětí sil hodně unavení.
                        Fyzicky jim pomůžeme, když zůstaneme doma a budeme si mýt ruce… ale proč bychom jim nemohli
                        pomoci i
                        psychicky? <strong>Napište jim dopisem vlídná slova podpory, díků a přibalte nějaké ty
                        bonbóny a
                        čokoládu.</strong> Určitě je to potěší a zvedne jim to náladu v těžké době.
                    </p>
                    <h2 class="title">A ocení to?</h2>
                    <p class="block">
                        Bude to vůbec k něčemu? Taky jsem váhal. A tak jsem zvedl telefon a zavolal do náhodné malé
                        regionální nemocnice. Poptal jsem se na posílání obrázku od dětí a čokolády. Paní na recepci mi
                        řekla: „No, tak já vás tam přepojím, abyste se jich mohl zeptat.“ A tak jsem, značně vyděšený,
                        byl přepojen přímo na ARO... a poptal se jich na obrázky a čokolády dopisem.
                    </p>
                    <p class="block">
                        A odpověď sestry co to zvedla...? <i>„Ano, jasně, cokoliv, uf, v týhle době opravdu cokoliv.
                        Díky.“</i>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-size-5 mb-6">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half-fullhd">
                    <h2 class="title">Jak na to?</h2>

                    <div class="card block">
                        <div class="card-header">
                            <div class="card-header-title">
                                <h3 class="title is-5">1. Vyberte si nemocnici</h3>
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="block">
                                Adresa nemocnice je veřejně přístupná. Vzali jsme adresy malých nemocnic z regionů s
                                velkým
                                počtem
                                nakaženým a připravili je pro vás. Vylosujte si v našem losovadle, které z nich
                                napíšete.
                            </p>
                            <button class="button block" @click="scrollToPicker">
                                Vybrat náhodnou nemocnici
                            </button>
                        </div>
                    </div>

                    <div class="card block">
                        <div class="card-header">
                            <div class="card-header-title">
                                <h3 class="title is-5">2. Napište dopis</h3>
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="block">
                                Stačí si vzít papír a nějaké pisadlo. Slušně pozdravte, představte se a napište proč
                                píšete.
                                Třeba takto:
                            </p>
                            <article class="message is-info">
                                <div class="message-body">
                                    <p class="block">
                                        Vážení zdravotníci,
                                    </p>
                                    <p class="block">
                                        jmenuji se Franta Pepa Jednička a jsem císař Rakouska-Uherska. Ve volném
                                        čase se
                                        věnuji
                                        lovu.
                                    </p>
                                    <p class="block">
                                        Píšu, protože bych Vám chtěl poděkovat za Vaši skvělou práci, odhodlanost a
                                        výdrž.
                                        Díky, že
                                        nám
                                        zachraňujete životy a že Vám na nás záleží.
                                        Pro alespoň drobné zlepšení nálady přikládám k dopisu obrázky od svých dětí
                                        a
                                        malou
                                        čokoládu.
                                    </p>
                                    <p class="block has-text-right">
                                        Hodně sil. Srdečně zdraví,
                                        </br>
                                        F. P. Jednička
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="card block">
                        <div class="card-header">
                            <div class="card-header-title">
                                <h3 class="title is-5">3. Přibalte nějakou drobnost</h3>
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="block">
                                Přibalte do dopisu (nebo drobného balíčku) nějakou věc, blbinku, která by je
                                mohla
                                potěšit. Obrázky od dětí, drobná čokoláda, balené bonbóny, vtipy, origami skládačky…
                                cokoliv
                                vás
                                napadne.
                            </p>
                        </div>
                    </div>

                    <div class="card block">
                        <div class="card-header">
                            <div class="card-header-title">
                                <h3 class="title is-5">4. Pošlete to!</h3>
                            </div>
                        </div>
                        <div class="card-content content pt-2">
                            <ul>
                                <li>
                                    Dopis i drobnost dejte do obálky. Ty jdou koupit na poště, v papírnictvích (od
                                    19.&nbsp;1.
                                    jsou otevřená), nebo klidně <a
                                        href="https://www.wikihow.cz/Jak-vyrobit-ob%C3%A1lku"
                                        target="_blank">vyrobit</a>.
                                </li>
                                <li>
                                    Dopis můžete poslat na poště nebo vhozením do oranžové schránky. Do 50&nbsp;g
                                    stačí
                                    jedna
                                    známka, stojí 19&nbsp;Kč (známky lze zakoupit na poště nebo v trafikách)
                                </li>
                                <li>
                                    Balík můžete poslat na poště, pokud ho odešlete jako „ekonomické psaní“ (a
                                    nebude
                                    tlustší
                                    jak 2&nbsp;cm), bude to stát do kila 33&nbsp;Kč. Přesný ceník <a
                                        href="https://www.ceskaposta.cz/documents/10180/282441/kompletni_cenik.pdf/528acb00-cbab-450e-8a94-90add1cf405b"
                                        target="_blank">tady</a>.
                                </li>
                                <li>
                                    Balík můžete také poslat přímo z domova pomocí služby odvoz zboží v <a
                                        href="https://www.postaonline.cz/odvozy/mojeodvozy" target="_blank">Balíku
                                    online</a>.
                                </li>
                                <li>
                                    Pokud se rozhodnete poslat balík (krabička, cca 80&ndash;100 Kč), doporučujeme
                                    vše
                                    vyplnit
                                    raději <a href="https://www.postaonline.cz/odvozy/mojeodvozy"
                                              target="_blank">předem
                                    online</a>. <strong>Vyhnete se tak čekání na poště &ndash; obslouží vás
                                    rovnou.</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section has-background-info-light is-medium" id="picker">
        <div class="container">
            <h2 class="title has-text-centered">Které nemocnici napsat?</h2>
            <div class="columns is-centered">
                <div v-if="picked" class="column column is-three-quarters-fullhd">
                    <article class="message is-warning is-medium">
                        <div class="message-header">
                            <p>
                                {{ picked.name }}
                                <span class="tag is-warning is-light is-medium">
                                        {{ picked.region }}
                                    </span>
                            </p>
                            <button class="delete is-large" aria-label="delete" @click="reset"></button>
                        </div>
                        <div class="message-body columns">
                            <div class="column" v-if="picked.people">
                                <h3 class="title is-5">Lidé</h3>
                                <div v-for="person in picked.people" class="block">
                                    <h4 class="title is-5">{{ person.name }}</h4>
                                    <p class="subtitle" v-if="person.occupation === 'main_sister'">Vrchní sestra</p>
                                    <p class="subtitle" v-if="person.occupation === 'main_doctor'">Primář</p>
                                </div>
                            </div>
                            <div class="column">
                                <h3 class="title is-5">Adresa</h3>
                                <address>
                                    {{ picked.name}}<br>
                                    {{ picked.adresa.street}} {{ picked.adresa.number }}<br>
                                    {{ picked.adresa.postcode}} {{ picked.adresa.city }}
                                </address>
                            </div>
                            <div class="column">
                                <h3 class="title is-5">Více info</h3>
                                <p class="block">{{ picked.note }}</p>
                                <a :href="picked.web" class="button" target="_blank">Web</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div v-else class="column has-text-centered">
                    <button class="button is-info is-large" @click="pickHospital">
                        Vybrat náhodnou nemocnici
                    </button>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                V případě jakýchkoliv problémů napište na rad.smid ZAVINÁČ gmail.com.
            </p>
            <p class="is-size-7">
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </p>
        </div>
    </footer>
</div>

<script src="./main.js"></script>

<script>
        const mountedApp = app.mount('#app')





</script>
</body>

</html>